*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #e74c3c, #000000); 
}

@media (min-width: 760px) and (max-width: 920px) {
    .navbar-nav{
        display: flex;
        justify-content: center;
        position: fixed;
        right: 400px;
    }
}

.nav-link{
    color: black;
    font-size: medium;
}

.contenedor{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.img-intro{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.intro{
    position: absolute;
    top: 50%;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffe6;
    text-align: justify;
    font-weight: bold;
}

h1, h2{
    margin: 40px;
    text-shadow: 5px 4px 5px rgba(248,248,33,0.86);
    text-align: center;
}

.text{
    color: #ffffe6;
    text-align: justify;
}

.img-rock{
    width: 100%;
    height: fit-content;
    border-radius: 15px;
}

hr{
    width: 100%;
    color: azure;
}

@media (max-width: 560px) {
    section{
       flex-direction: column;
    }
    .img-rock{
        width: 90%;
        height: auto;
    }
    .img-rock-sonico{
        padding: 5px;
        width: 80%;
        height: auto;
    }
}

